/*
Auteur: <Joris van Beers>
Aanmaakdatum <01-11-2021>

css van de Contact Page

*/

/* navigatie balk */
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* font inladen */
@font-face {
    font-family: openSans;
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: PlayFair Display;
    src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

/* achtergrond afbeelding inladen en positioneren */
body
{
    background-color: #ffffff;
    background-image: url(../images/achtergrondWebsite2.0.png);
    background-size: contain;
    background-position: center;
    display: block;
    margin: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
/* puntjes van list weghalen */
li
{
 list-style: none;
}

/* navigatiebalk achtergrondkleur hoogte en zorgt dat alles gecentered staat  */
nav
{
    font-family: PlayFair Display;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #d6d1d17e;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.144);
}

/* past in de navigatie balk aan hoe het gedisplayed word en hoeveel de tekst uit elkaar staat*/
.navigatieLinks
{
    display: flex;
    justify-content: space-around;
    width: 37%;
}

/* haalt de puntjes weg voor de linkjes*/
.navigatieLinks li
{
    list-style: none;
}

/* font size en kleur tekst in navigatie balk*/
.navigatieLinks a
{
    color: #000000;
    text-decoration: none;
    font-weight: bolder;
}

/* zorgt ervoor dat als je over een linkje gaat met je muis dat deze een kleur krijgt*/
.navigatieLinks a:hover
{
    color: #ca9b52;
}

/* zorgt ervoor dat de huidige pagina een kleurtje krijgt in de navigatie balk*/
.navigatieLinks a.huidigePagina
{
    color: #ca9b52;
}

/* in het midden plaatsen*/
h1
{
    font-family: PlayFair Display;
    text-align: center;
}

/* afbeelding header */
img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* logo in het midden zetten */
.logoMain
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* h3 verplaatsen */
h3
{
float: left bottom;
}
/* h2 verplaatsen */
h2
{
    font-family: PlayFair Display;
    list-style: none;
    float: right;
}
/* openingsdagen rechts zetten */
.openingsdagen
{
list-style: none;
float: right;
}
/* p links zetten*/
p
{
font-family: openSans;
float: left;
}

/* kleur linkjes aanpassen */
a
{
    font-family: openSans;
    color: #ca9b52; 
}

/* ul font geven */
ul
{
    font-family: openSans;
}

/* zorgt ervoor dat de link paars wordt als je hem hebt gevisit */
.Facebook a:visited
{
color: purple;
}
